

body{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
      align-items: center;

 }

  #sec{
    margin-top:40px;
    font-size:36px;
    /* margin: 0 auto; */
  }


  form input{
    width:30px;

  }
  table,th,td{
    border: black solid 1px;
    border-collapse: collapse;
  }
  #study_table{
    margin:20px auto;
  }
  
  #task_field{
    display: block;
    width: 50%;
    margin: 2px auto;
  }


  .view{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .input{
    width:50%;
    margin:0 auto;
    text-align: center;
  }